body{ 
    background-image:url("atl.jpg");
}

.caps{
display: block;
margin: auto;
width: 50%;
height: auto;
}

h3{
    text-align: center;
    color: mintcream;
}

h4{
    text-align: center;
    color: cyan;
}


